
*.o
*.stash
*.Debug
*.Release
build-qf_pc_assistant-Desktop_Qt_5_7_0_MinGW_32bit-Debug/Makefile
*.user
qf_pc_assistant/app1.ico
qf_pc_assistant/app2.ico
qf_pc_assistant/app2 (2).ico
qf_pc_assistant/app4.ico
